body {
  background-color: black;
}
h1::before{
  content: url("https://i.ibb.co/FXxj3zF/andtoid-playstation-png-logo-24-2.png");
  width: 265px;
  height: 419px;
}
h1{ 
  font-size: 200px;
  color: white;
  width: 805px;
  height: 177px;
}
nav{
  display:flex;
  justify-content: center;
  width: 266px;
  height: 51px;
  padding-right: 200px;
}
.image{
  float: left;
}
