body {
  background-color: black;
}
h1::before{
  content: url("https://i.ibb.co/FXxj3zF/andtoid-playstation-png-logo-24-2.png");
  width: 265px;
  height: 419px;
  display: inline-block;
}
h1{ 
  font-size: 200px;
  color: white;
   text-align: center;
}
nav{
  display:flex;
  justify-content: center;
  padding-right: 200px;
   text-align: center;
}
.image{
  float: left;
}
a {
  font-size: 100px;
  padding: 100px;
}
